* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    height: 5000px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 1300px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #b3b0ad;
}

.header {
    width: 100%;
    height: 500px;
}

.headerPrimaryImage {
    position: relative;
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    border-top-left-radius:6px 6px;
    border-top-right-radius:6px 6px;
}

.headerTextContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 60%;
    justify-content: center;
    align-items: center;
}

.headerPrimaryText {
    font-size: 15px;
    color: grey;
    margin-bottom: 20px;
}

.headerNaKdImage {
    width: 250px;
    height: 150px;
    background-image: url(images/hero-logo.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.headerDescriptionBold {
    font-weight: bold;
    margin-bottom: 7px;
}

.headerButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 160px;
    margin-top: 20px;
    background-color: #dcdcdc;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 2px;
    border-color: #b3b0ad;
}

.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    margin: 1.7% 0 1.7% 0
}

.left {
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
    height: 500px;
    background-color: #ad9781;
    z-index: 80;
}

.leftImage {
    width: 450px;
    height: 470px;
    position: absolute;
    background-image: url(images/image1.jpg);
    background-size: cover;
    background-position: center;
    z-index: 30;
    margin: 10px 0 10px 10px;
}

.leftInformationContainer {
    position: absolute;
    top: 140px;
    left: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mostWanted {
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
}

.preFall {
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.party {
    text-align: center;
    width: 100%;
    font-size: 25px;
}

.shopPartyButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    border-radius: 2px 2px 2px 2px;
    height: 30px;
    width: 120px;
    background-color: black;
}

.shopPartyButtonText {
    font-size: 15px;
    color: white;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 49%;
    height: 500px;
    background-color: #ad9781;
}

.rightImage {
    width: 450px;
    height: 470px;
    position: absolute;
    background-image: url(images/image2.jpg);
    background-size: cover;
    background-position: center;
    z-index: 30;
    margin: 10px 10px 10px 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    background-color: #929979;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.footerTextContainer {
    width: 20%;
}

.mostWanted {
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
}

.whatToWear {
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-bottom: 5%;
}

.allYouNeed {
    text-align: center;
    width: 100%;
    font-size: 15px;
}

.modalBody {
    padding: 5px 5px 5px 5px;
}

.footerImageContainer {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

.footerImageItem1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 250px;
    background-image: url(images/whattowear1.jpg);
    background-size: cover;
    background-position: center;
    margin-right: 25px;
}

.footerImageItem1:hover {
    background-image: linear-gradient(
            to right, rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
            url(images/whattowear1.jpg);
}

#dressesButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 120px;
    margin-top: 5%;
    background-color: white;
    visibility: hidden;
    border-radius: 2px 2px 2px 2px;
}

.shopDressesButtonText {
    font-size: 10px;
    color: black;
    text-align: center;
}

.dresses {
    color: white;
    font-size: 30px;
}

.footerImageItem2 {
    width: 300px;
    height: 250px;
    background-image: url(images/whattowear2.jpg);
    background-size: cover;
    background-position: center;
    margin-right: 25px;
}

.footerImageItem3 {
    width: 300px;
    height: 250px;
    background-image: url(images/whattowear3.jpg);
    background-size: cover;
    background-position: center;
    margin-right: 25px;
}

.footerImageItem4 {
    width: 300px;
    height: 250px;
    background-image: url(images/whattowear4.jpg);
    background-size: cover;
    background-position: center;
    margin-right: 25px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 100;
    background-color: white;
    width: 500px;
    max-width: 80%;
    visibility: visible;
}

.closeButton {
    display: flex;
    float: right;
    position: absolute;
    left: 80%;
    top: 10%;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,  .5);
    pointer-events: none;
    visibility: visible;
}

.modal.active {
    transform:  translate(-50%, -50%) scale(1);
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}


@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

}
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */

}
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}


